header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $color1-light;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  box-shadow: 0 1px 6px 0 $color1;

  .logo {
    color: $color4;
    text-transform: uppercase;
    font-family: $popin;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 50%;

    .icon {
      background-color: $color1-light;
      color: $color4;
      border: 3px solid $color4;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      line-height: 29px;
      text-align: center;
      font-size: 2rem;
      box-sizing: border-box;
      margin-left: 15px;
      padding-left: 2px;
    }
  }

  .c-left {
    width: 50%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-end;
  }

  .not {
    position: relative;
    margin-left: 10px;

    .icon {
      color: $color1-dark;
      height: 40px;
      width: 40px;
      line-height: 35px;
      text-align: center;
      font-size: 2.3rem;
      box-sizing: border-box;
      margin-left: 15px;
      padding-left: 2px;
      
      &.isActive {
        color: $color4;
      }
    }

    .number {
      color: $color1-light;
      border: 2px solid $color1-light;
      background-color: $color-notif;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      display: block;
      position: absolute;
      right: -4px;
      bottom: 4px;
    }
  }

  .profil {
    display: flex;

    img {
      width: 50px;
      height: 53px;
      object-fit: cover;
      margin-left: 12px;
    }

    .informations {
      width: 50px;
      text-align: center;

      .icon {
        color: $color1-dark;
        font-size: 1.6rem;
        box-sizing: border-box;
        line-height: 49px;

        &.isActive {
          color: $color4;
        }
      }
    }
  }

}

.header-sub {
  background-color: $gray-cloud;
  position: fixed;
  top: 50px;
  width: 100%;
  box-shadow: 0 1px 6px 0 $color1;

  .c-sub-header {
    display: none;

    &.isShow {
      display: block;
    }
  }

  img {
    width: 30px;
    height: 38px;
    object-fit: cover;
  }

  ul {
    list-style: none;
    display: block;
    padding-left: 20px;
  }

  li {
    display: flex;
    align-items: center;
    margin: 12px 0px;
    font-family: $openSans;
    justify-content: space-between;
  }

  .icon-close {
    font-size: 1.9rem;
    font-family: $openSans;
    color: $color1-dark;
    margin-right: 20px;
    margin-bottom: 2px;
  }

  .icon-param {
    font-size: 3.2rem;
    color: $color1-dark;
  }

  a {
    font-size: 1.2rem;
    font-family: $openSans;
    color: $gray-thunder;
    text-decoration: none;
    display: flex;
    align-items: center;

    span {
      margin-left: 16px;
    }
  }
}
