header {
  height:50px;
  display: flex;
  align-items: center;
  background-color: $color1-light;
  position: fixed;
  width:100vw;
  box-shadow: 0 1px 6px 0 $color1;

  .logo {
    color: $color3-dark;
    text-transform: uppercase;
    font-family: $popin;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 50%;

    .icon {
      background-color: $color1-light;
      color: $color3-dark;
      border: 3px solid $color3-dark;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      line-height: 29px;
      text-align: center;
      font-size: 3.2rem;
      box-sizing: border-box;
      margin-left: 15px;
      padding-left: 2px;
    }
  }

  .c-left {
    width: 50%;
    display: flex;
    align-items: center;
    height:50px;
    justify-content: flex-end;
  }

  .not {
    position: relative;
    margin-left:10px;

    .icon {
      color: $color1-dark;
      height: 40px;
      width: 40px;
      line-height: 35px;
      text-align: center;
      font-size: 3.2rem;
      box-sizing: border-box;
      margin-left: 15px;
      padding-left: 2px;
    }

    .number {
      color: $color1-light;
      border: 2px solid $color1-light;
      background-color: $color-notif;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      display: block;
      position: absolute;
      right: -4px;
      bottom: 4px;
    }
  }

  .profil {
    display: flex;

    img {
      width: 50px;
      height: 53px;
      object-fit: cover;
      margin-left: 25px;
    }

    .informations {
      width: 50px;
      text-align: center;

      .icon {
        color: $color1-dark;
        font-size: 2rem;
        box-sizing: border-box;
        line-height: 49px;
      }
    }
  }
}
