//container post

.c-post {
  margin-top: 30px;
  display: block;
  padding-top: 10px;
  border-top: 2px solid $color1-light;
}

//container newsletter

.c-newsletter {
  margin-top: 50px;
  padding: 10px;
  padding-bottom:20px;
  background-color: $color1-light;

  input[type="email"] {
    width: 60%;
    height: 55px;
    padding-left: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: $openSans;
    font-weight: bold;
    letter-spacing: 1.2px;
    border-radius: 0px;
    border: 0px solid $color1-light;
    -webkit-appearance: none;
  }

  input[type="submit"] {
    width: 40%;
    height: 53px;
    padding-left: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: $openSans;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: $color4;
    color: $color1-light;
    border:0px;
    border-radius: 0px;
    -webkit-appearance: none;

  }
}