//module push

.m-push {
  margin: 25px auto;

  //containers
  .c-push {
    background-size: cover;
    height: 141px;
    box-sizing: border-box;
    display: block;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height:100%;
      width:100%;
      background-color: rgba(86, 16, 16, 0.58);
      top:0;
      left: 0;
    }
  }

  .c-infos-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    color:#fff;
    font-size: 1.8rem;
    font-family: $openSans;
  }

  .c-info-offers {
    position: absolute;
    bottom:0px;
    left:0px;
    padding: 5px 10px;
    background-color: $color3;
  }

  //texts

  .t-place {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 3px;
  }

  .t-city {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff;
  }

  .t-offers {
    font-size: 1.2rem;
    color: #fff;
    font-family: $openSans;
  }

}