.m-calendar {
  font-family: $openSans;

  .c-calendar {
    background-color: $color1-light;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .icon {
    font-size: 6rem;
    color: $color4-dark;
    margin-left:10px;
  }

  ul {
    list-style:none;
    padding:0px;
    margin:0px;
    font-size: 1.25em;
    color: $gray;
    margin-right:10px;
    margin-left:10px;
  }

  li {
    border-left: 2px solid $color4-dark;
    margin: 10px;
    padding-left: 10px
  }
  
  a {
    color: $color4;
    font-weight: bold;
    text-decoration: none;
  }

  .more {
    background-color: $color4;
    color: $color1-light;
    margin-bottom:25px;
    display: block;
    text-align: center;
    padding:10px 0;
    margin-top:0px;
    text-transform: uppercase;
  }
}