//module card

.m-card {
  position: relative;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: $gray-thunder;
  }

  &.guide-card {
    border: 1px solid $color1-light;
    background-color: $color1-light;

    .t-number {
      color: $color3-dark;
    }
  }

  &.visit-card {
    border: 1px solid $color1-light;
    background-color: $color1-light;
    .t-number {
      color: $color2-dark;
    }
  }

  .visit {
    background-color: $color2;
    color: $color1-light;
  }

  .guide {
    background-color: $color3;
    color: $color1-light;
  }

  .visit-1 {
    color: $color2;
  }

  .guide-1 {
    color: $color3;
  }

  .visit-2 {
    border: 1px solid $color2;
    color: $color2;
  }

  .guide-2 {
    border: 1px solid $color3;
    color: $color3;
  }

  //container
  .c-time {
    padding: 10px 5px;
  }

  .c-profil {
    margin:15px;
  }

  .c-votes {
    margin-top: 3px;
  }

  .c-profil-info {
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
  }

  .c-langs {
    .flag {
      height:10px;
      width:10px;
    }
  }

  .c-descript {
    margin: 0 15px;

    .more {
      padding:5px 7px;
      display: block;
      width: 40%;
      text-align: center;
      text-transform: uppercase;
      font-family: $popin;
      font-size: 1.2rem;
      margin: 10px auto;
    }
  }

  //images
  .flag {
    border-radius: 100%;
    height:14px;
    width:14px;
    object-fit: cover;
  }

  .img-profil {
    position: relative;
    display: inline-block;

    .profil {
      width: 54px;
      height: 86px;
      object-fit: cover;
    }

    .flag{
      position: absolute;
      bottom: -2px;
      right: -5px;
      border:2px solid $color1-light;
    }
  }


  //texts
  .t-time, .t-place {
    font-family: $popin;
    font-size: 1.2rem;

    .icon {
      font-size: 1.8rem;
      margin-left: 10px;
      margin-right:2px;
    }
  }

  .t-name {
    font-family: $openSans;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .t-number-rate {
    font-size: 1.2rem;
    font-family: $openSans;

    .icon {
      vertical-align: top;
      margin-top: 2px;
      margin-right:5px;
    }
  }

  .t-nb-votes, .t-langs {
    font-family: $openSans;
    font-size: 1.1rem;
  }

  .t-type {
    padding: 3px 7px;
    display: block;
    width:47%;
    margin-top:7px;
    box-sizing: border-box;
    text-align: center;
  }

  .t-descript {
    font-size: 1.3rem;
    font-family: $openSans;
  }
}