.c-search {
  text-align: center;
  display: flex;
  justify-content: space-between;

  input[type="checkbox"] {
    display: none;
  }

  .btn-01 {
    width: 48%;
    height: 46px;
    text-align: center;
    line-height:46px;
    text-transform: uppercase;
    color: #fff;
    font-family:$openSans;
    font-size: 1.3rem;
    letter-spacing:2px;
    font-weight: bold;
  }

  .visit {
    background-color: $color2;
  }

  .guide {
    background-color: $color3;
  }

}