html {
  font-size: 62.5%
}

.container {
  padding-top: 50px;
  margin: 25px auto;
  width: 93%;
}

.noShow {
  display: none !important;
}

.isShow {
  display: none !important;
}

//textes

h2 {
  color: $gray-thunder;
  font-size: 1.7rem;
  font-family: $popin;
}


h3 {
  color: $gray-thunder;
  font-size: 1.4rem;
  font-family: $popin;
}


//buttons

.btn-01 {
  background-color: $color1;
  box-sizing :border-box;
}

.btn-02 {
  background-color: $color4;
  color: $color1-light;
  box-sizing :border-box;
  padding:0px 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: $popin;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 1.4em;
    vertical-align: sub;
    margin-right:10px;
  }

  a {
    color: $color1-light;
    text-decoration: none;
  }
}
