// Colors

$gray-dark:                 #484952;
$gray:                      #757575;
$gray-light:                #bebebe;
$gray-lighter:              #c8c8c8;
$gray-lightest:             #f5f6f4;


$color1:                    #3498DB;            // Red
$color1-light:              #E4F1FE;
$color1-lighter:            #CADFF3;
$color1-dark:               #2574A9;

$color-notif:               #E74C3C;

// Transitions

$transition-base:           all .3s ease;

// Body

$body-bg:                   #fff;
$body-color:                #000;

// Fonts
$popin:                 'Poppins', sans-serif;
$openSans:             'Open Sans', sans-serif;

// Base

$font-family-base:          $popin;
$border-radius-base:        5px;


// Headings

$font-size-h1:              rem(22);
$font-size-h2:              rem(19);
$font-size-h3:              rem(18);
$font-size-h4:              rem(16);
$font-size-h5:              rem(14);
$font-size-h6:              rem(14);


// Media queries

$wrapper-width:             rem(960);

$mq-s:                      em(768);
$mq-m:                      em(1024);
$mq-l:                      em(1500);
