// Colors

$gray-thunder:             #484952;
$gray:                     #757575;
$gray-rainy:               #bebebe;
$gray-dusty:               #c8c8c8;
$gray-cloud:               #f5f6f4;


$color1:                    #bdc3c7;            // Red
$color1-light:              lighten( $color1, 20% );
$color1-lighter:            lighten( $color1, 35% );
$color1-dark:               darken( $color1, 10% );


$color2:                    #F2784B;
$color2-light:              lighten( $color2, 10% );
$color2-dark:               darken( $color2, 10% );

$color3:                    #81CFE0;
$color3-light:              lighten( $color3, 10% );
$color3-dark:               darken( $color3, 10% );

$color4:                    #68C3A3;

$color-notif:               #E74C3C;

// Transitions

$transition-base:           all .3s ease;

// Body

$body-bg:                   #fff;
$body-color:                #000;

// Fonts
$popin:                 'Poppins', sans-serif;
$openSans:             'Open Sans', sans-serif;


// Base
$border-radius-base:        5px;


