header {
  z-index: 100;
}

.m-push {
  .c-infos-city {
    z-index: 1;
    position: relative;
  }

  .c-push {
    &:before {
      z-index: 1;
    }
  }

  .bck-push {
    z-index: 0;
  }

  .c-info-offers {
    z-index:1;
  }
}