// Reset
@import '../../../node_modules/normalize.scss/normalize';

//base
@import 'base/variables';
@import 'base/mixins';
@import "base/icons";
@import 'base/layout';
@import 'base/media';
@import "base/zIndex";


//components
@import "components/header";
@import "components/search";
@import "components/home";
@import "components/footer";


//module
@import "components/modulePush";
@import "components/moduleCard";
@import "components/moduleCalendar";
@import "components/moduleLastMessages";
