<header>
    <div class="logo">
        <i class="icon icon-transport"></i>
        <span>MeeTravel</span>
    </div>
    <div class="c-left">
        <div class="not">
            <i class="icon icon-notification"></i>
            <span class="number">2</span>
        </div>

        <div class="profil">
            <div class="img-profil">
                <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcTaZexHNBA_wx2_MNKpWCbSkJdcGOC0LnQYD76c-wvOhLD6bV8pf9Kw-m8" alt="image profil">
            </div>
            <div class="informations">
                <i class="icon icon-arrow arrow-down"></i>
            </div>
        </div>
    </div>
</header>
