<header>
    <div class="logo">
        <i class="icon icon-transport"></i>
        <span>MeeTravel</span>
    </div>
    <div class="c-left">
        <div class="not">
            <i class="icon icon-notification"></i>
            <span class="number">2</span>
        </div>

        <div class="profil">
            <div class="img-profil">
                <img src="img/data/profil.jpg" alt="image profil">
            </div>
            <div class="informations">
                <i class="icon icon-arrow arrow-down"></i>
            </div>
        </div>
    </div>
</header>

<div class="header-sub">
    <div class="c-notifications">
        <ul>
            <li>
                <a href="#">
                    <img src="img/data/profil2.jpg" alt="">
                    <span>Julien B. a valider votre évènement</span>
                </a>
                    <i class="icon icon-close">x</i>
            </li>
            <li>
                <a href="#">
                    <img src="img/data/profil3.jpg" alt="">
                    <span>Julie A. vous a envoyé un message</span>
                </a>
                <i class="icon icon-close">x</i>
            </li>
        </ul>
    </div>
</div>
