<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
  <body class="home">
    <!-- build:include include/header.html -->
    <!-- /build -->

    <section class="container">

      <form action="" class="c-search">
        <label for="visit" class="btn-01 visit">Je visite</label>
        <input type="checkbox" name="visit" id="visit">
        <label for="guide" class="btn-01 guide">Je guide</label>
        <input type="checkbox" name="guide" id="guide">
      </form>

      <article class="m-push"> <!-- module push -->
        <div class="c-push" style="background-image: url('img/data/fushimi.png')">
          <!-- la balise style est pour le developpeur back, afin qu'il puisse dynamiser le fond -->

          <div class="c-infos-city">
            <strong class="t-place">Fushimi</strong>
            <span>à <strong class="t-city">Tokyo</strong></span>
          </div>

          <div class="c-info-offers">
            <span class="t-offers">Voir les 130 offres</span>
          </div>

        </div> <!-- end c-push -->
      </article> <!-- end module push -->

    </section> <!-- end container -->


    <!-- build:js app.min.js -->
    <script src="app.js"></script>
    <!-- /build -->

  </body>
</html>
