<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
  <body class="home">
    <!-- build:include include/header.html -->
    <!-- /build -->

    <section class="container">

      <form action="" class="c-search">
        <label for="visit" class="btn-01 visit">Je visite</label>
        <input type="checkbox" name="visit" id="visit">
        <label for="guide" class="btn-01 guide">Je guide</label>
        <input type="checkbox" name="guide" id="guide">
      </form>
    </section>


    <!-- build:js app.min.js -->
    <script src="app.js"></script>
    <!-- /build -->

  </body>
</html>
