<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">
<!-- build:include include/header.html -->
<!-- /build -->

<section class="container">

    <article class="m-calendar">
        <div class="c-calendar">
            <i class="icon icon-calendar"></i>

            <div class="c-timeline">
                <ul>
                    <li><strong>9h00</strong> le <strong>20/08/2016</strong> à <strong>Paris, Louvre</strong> avec
                        <a href="#">Julien B.</a></li>
                    <li><strong>9h00</strong> le <strong>20/08/2016</strong> à <strong>Paris, Tour Eiffel</strong> avec
                        <a href="#">Marie C.</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="more">Voir tous mes évènements</a>
    </article>

    <form action="" class="">
        <div class="c-search">
            <label for="visit" class="btn-01 visit">Je visite</label>
            <input type="checkbox" name="visit" id="visit">
            <label for="guide" class="btn-01 guide">Je guide</label>
            <input type="checkbox" name="guide" id="guide">

        </div>

        <div class="c-show c-show-visit">
            <label for="visit">Que veux tu visiter?</label>
            <div class="input">
                <i class="icon icon-search input-icon"></i>
                <input type="text" name="visit" id="visit" placeholder="Le Louvre, bibliothèque, ...">
            </div>

            <label for="date">Quand?</label>
            <div class="c-twice">
                <div class="item">
                    <div class="input">
                        <i class="icon icon-calendar input-icon"></i>
                        <input type="date" name="date" id="date" placeholder="15/08/2016">
                    </div>
                </div>
                <label for="time">à</label>
                <div class="item">
                    <div class="input">
                        <i class="icon icon-calendar input-icon"></i>
                        <input type="time" name="time" id="time" placeholder="15h30">
                    </div>
                </div>
            </div>

            <label for="place">Dans quel lieu? </label>
            <div class="item">
                <div class="input c-place">
                    <i class="icon icon-marker input-icon"></i>
                    <input type="text" name="place" id="place" placeholder="Paris, France"> <a href="#" class="btn-geoloc">Me géolocaliser</a>
                </div>
            </div>


            <input type="submit" value="Rechercher">

        </div>

        <div class="c-show c-show-visit">
            <label for="visit">Que veux-tu faire découvrir?</label>
            <div class="input">
                <i class="icon icon-search input-icon"></i>
                <input type="text" name="visit" id="visit" placeholder="Le Louvre, bibliothèque, ...">
            </div>

            <label for="date">Quand?</label>
            <div class="c-twice">
                <div class="item">
                    <div class="input">
                        <i class="icon icon-calendar input-icon"></i>
                        <input type="date" name="date" id="date" placeholder="15/08/2016">
                    </div>
                </div>
                <label for="time">à</label>
                <div class="item">
                    <div class="input">
                        <i class="icon icon-calendar input-icon"></i>
                        <input type="time" name="time" id="time" placeholder="15h30">
                    </div>
                </div>
            </div>

            <label for="place">Dans quel lieu? </label>
            <div class="item">
                <div class="input c-place">
                    <i class="icon icon-marker input-icon"></i>
                    <input type="text" name="place" id="place" placeholder="Paris, France"> <a href="#" class="btn-geoloc">Me géolocaliser</a>
                </div>
            </div>


            <input type="submit" value="Rechercher">
        </div>

        <article class="c-post noShow">
            <h3>Vous ne trouvez pas ce que vous cherchez? Faites votre proposition !</h3>

            <div class="btn-02">
                <a href="#"><i class="icon icon-pencil"></i> Poster sa demande</a>
            </div>
        </article>

    </form>

    <article class="m-push"> <!-- module push -->
        <div class="c-push">
            <img src="img/data/fushimi.jpg"
                 srcset="img/data/fushimi-small.jpg 320w, img/data/fushimi-big.jpg 1024w" alt="" class="bck-push">

            <div class="c-infos-city">
                <strong class="t-place">Fushimi</strong>
                <span>à <strong class="t-city">Kyoto</strong></span>
            </div>

            <div class="c-info-offers">
                <span class="t-offers">Voir les 130 offres</span>
            </div>

        </div> <!-- end c-push -->
    </article> <!-- end module push -->

    <h2>Vos dernières recherches</h2>

    <article class="m-card guide-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time guide">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 13/04/2016 - 13h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Tour Eiffel</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil2.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Jonathan B.</span>

                        <div class="c-votes">
                            <span class="t-number-rate guide-1">6/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(89 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-ang.png" alt="drapeau de la Angleterre">
                                <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau du Japon">
                            </picture>
                        </div>
                        <span class="t-type guide-2">Je guide</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                Je propose de visiter la Tour Eiffel ! <br>
                J’apprends le japonais et voudrais rencontrer un(e)
                japonais(e) ...
            </p>

            <a href="#" class="more guide">En savoir +</a>
        </div>
    </article>

    <article class="m-card visit-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time visit">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 20/05/2016 - 8h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Tokyo, Tokyo T..</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil3.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Charlotte H.</span>

                        <div class="c-votes">
                            <span class="t-number-rate visit-1">8/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(302 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-ang.png" alt="drapeau de la Angleterre">
                                <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau du Japon">
                            </picture>
                        </div>
                        <span class="t-type visit-2">Je visite</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                J'aimerai visiter la Tour de Tokyo ! Je suis disponible toute la semaine.
            </p>

            <a href="#" class="more visit">En savoir +</a>
        </div>
    </article>

    <div class="btn-02">
        <a href="#">Voir toutes mes recherches</a>
    </div>

    <article class="m-push"> <!-- module push -->
        <div class="c-push">
            <img src="img/data/louvre.jpg"
                 srcset="img/data/louvre-small.jpg 320w, img/data/louvre-big.jpg 1024w" alt="" class="bck-push">

            <div class="c-infos-city">
                <strong class="t-place">Le Louvre</strong>
                <span>à <strong class="t-city">Paris</strong></span>
            </div>

            <div class="c-info-offers">
                <span class="t-offers">Voir les 110 offres</span>
            </div>

        </div> <!-- end c-push -->
    </article> <!-- end module push -->

    <h2>Propositions autour de vous</h2>

    <article class="m-card visit-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time visit">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 05/06/2016 - 10h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Le Louvre</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil4.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-ang.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Marjorie C.</span>

                        <div class="c-votes">
                            <span class="t-number-rate visit-1">7/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(3 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-ang.png" alt="drapeau de la Angleterre">
                            </picture>
                        </div>
                        <span class="t-type visit-2">Je visite</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                Je viens en France visiter le Louvre, quelqu'un pour venir avec moi?
            </p>

            <a href="#" class="more visit">En savoir +</a>
        </div>
    </article>

    <article class="m-card visit-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time visit">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 10/06/2016 - 8h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Cité Pala..</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil5.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Kyu T.</span>

                        <div class="c-votes">
                            <span class="t-number-rate visit-1">8/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(31 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la Angleterre">
                            </picture>
                        </div>
                        <span class="t-type visit-2">Je visite</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                Je suis japonais et je vais passer une semaine à Paris. Je suis curieux et j'ai envie de visiter et de
                passer un bon moment...
            </p>

            <a href="#" class="more visit">En savoir +</a>
        </div>
    </article>

    <article class="m-card guide-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time guide">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 10/06/2016 - 8h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Grand P..</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil6.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Martin S.</span>

                        <div class="c-votes">
                            <span class="t-number-rate guide-1">5/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(2 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la Angleterre">
                            </picture>
                        </div>
                        <span class="t-type guide-2">Je guide</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                J'aime beaucoup visiter une exposition de photo au Grand Palais de Paris avec un japonais pour parler un
                peu japonais !
            </p>

            <a href="#" class="more guide">En savoir +</a>
        </div>
    </article>

    <div class="btn-02">
        <a href="#">Voir toutes les propositions</a>
    </div>

    <article class="m-push"> <!-- module push -->
        <div class="c-push">
            <img src="img/data/tower-small.jpg"
                 srcset="img/data/tower-small.jpg 320w, img/data/tower-big.jpg 1024w" alt="" class="bck-push">

            <div class="c-infos-city">
                <strong class="t-place">Tower bridge</strong>
                <span>à <strong class="t-city">Londres</strong></span>
            </div>

            <div class="c-info-offers">
                <span class="t-offers">Voir les 202 offres</span>
            </div>

        </div> <!-- end c-push -->
    </article> <!-- end module push -->

    <h2>Les dernières propositions</h2>

    <article class="m-card visit-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time visit">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 05/06/2016 - 10h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Le Louvre</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil4.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-ang.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Marjorie C.</span>

                        <div class="c-votes">
                            <span class="t-number-rate visit-1">7/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(3 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-ang.png" alt="drapeau de la Angleterre">
                            </picture>
                        </div>
                        <span class="t-type visit-2">Je visite</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                Je viens en France visiter le Louvre, quelqu'un pour venir avec moi?
            </p>

            <a href="#" class="more visit">En savoir +</a>
        </div>
    </article>

    <article class="m-card visit-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time visit">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 10/06/2016 - 8h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Cité Pala..</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil5.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Kyu T.</span>

                        <div class="c-votes">
                            <span class="t-number-rate visit-1">8/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(31 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la Angleterre">
                            </picture>
                        </div>
                        <span class="t-type visit-2">Je visite</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                Je suis japonais et je vais passer une semaine à Paris. Je suis curieux et j'ai envie de visiter et de
                passer un bon moment...
            </p>

            <a href="#" class="more visit">En savoir +</a>
        </div>
    </article>

    <article class="m-card guide-card">
        <div class="c-infos">
            <div class="c-top">

                <div class="c-time guide">
                    <strong class="t-time"><i class="icon icon-calendar"></i> 10/06/2016 - 8h00</strong>
                    <strong class="t-place"><i class="icon icon-marker"></i> Paris, Grand P..</strong>
                </div>

                <div class="c-profil">
                    <picture class="img-profil">
                        <img class="profil" src="img/data/profil6.jpg" alt="image de profil">
                        <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la langue courante">
                    </picture>

                    <div class="c-profil-info">
                        <span class="t-name">Martin S.</span>

                        <div class="c-votes">
                            <span class="t-number-rate guide-1">5/10 <i class="icon icon-star"></i></span>
                            <span class="t-nb-votes">(2 avis)</span>
                        </div>

                        <div class="c-langs">
                            <span class="t-langs">Langues parlées :</span>
                            <picture>
                                <img class="flag" src="img/data/drapeau-jap.png" alt="drapeau de la France">
                                <img class="flag" src="img/data/drapeau-fr.png" alt="drapeau de la Angleterre">
                            </picture>
                        </div>
                        <span class="t-type guide-2">Je guide</span>

                    </div>
                </div>
            </div>
        </div><!-- end c-infos -->

        <div class="c-descript">
            <p class="t-descript">
                J'aime beaucoup visiter une exposition de photo au Grand Palais de Paris avec un japonais pour parler un
                peu japonais !
            </p>

            <a href="#" class="more guide">En savoir +</a>
        </div>
    </article>

    <div class="btn-02">
        <a href="#">Voir toutes les propositions</a>
    </div>

    <article class="m-push"> <!-- module push -->
        <div class="c-push">
            <img src="img/data/canyon-small.jpg"
                 srcset="img/data/cayon-small.jpg 320w, img/data/canyon-big.jpg 1024w" alt="" class="bck-push">

            <div class="c-infos-city">
                <strong class="t-place">Grand Canyon</strong>
                <span>à <strong class="t-city">Flagstaff</strong></span>
            </div>

            <div class="c-info-offers">
                <span class="t-offers">Voir les 110 offres</span>
            </div>

        </div> <!-- end c-push -->
    </article> <!-- end module push -->

    <article class="c-post">
        <h3>Vous ne trouvez pas ce que vous cherchez? Faites votre proposition !</h3>

        <div class="btn-02">
            <a href="#"><i class="icon icon-pencil"></i> Poster sa demande</a>
        </div>
    </article>

    <article class="c-newsletter">
        <h3>S'inscrire à la newsletter</h3>

        <form action="">
            <input type="email" placeholder="Votre mail"><input type="submit" value="S'inscrire">
        </form>
    </article>


</section> <!-- end container -->

<footer>
    <ul class="rs">
        <li><a href="#"><i class="icon icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon icon-mail"></i></a></li>
        <li><a href="#"><i class="icon icon-arrow"></i></a></li>
    </ul>

    <ul class="list-footer">
        <li><a href="#">Voir plus de propositions</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Gestion des cookies</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Nous contacter</a></li>
    </ul>
</footer>


<script src="js/app.js"></script>

</body>
</html>
